.news{
    background: #F5F5F5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    border:1px solid #ccc8c8;
}
.news p{
    font-size: 14px;
}
.news span{
    font-weight: bold;
    margin-right: 3px;
    color: black;
}