.notisBoard{
    background: linear-gradient(180deg, transparent,#ddd), url('assets/image/bg_notice_board.png');
    background-repeat: no-repeat;

    .notissec{
        padding: 20px 100px;
        padding-bottom: 0;

        .noticeTitle{
            text-transform: capitalize;
            font-size: 28px;

           
        }

        .noticeList{
            list-style: none;
        }
    }
    .noticeBtn {
        padding: 10px;
        display: flex;
        justify-content: end;
    }
}