.right-block h5 {
    background-color: #6a0166 !important;
}
.right-block h5.title{
	color:white;
}
.right-block h5.title {
	background: url(themes/responsive_npf/images/icons/logo.png) no-repeat 12px 7px;
    padding-left: 35px ! important;
    margin-top: 0;
}
