.bennar{
    background: linear-gradient(#00000095,#00000095), url('../image/download.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 40px;
    display: flex;
    align-items: center;

}