.important-link {
    ul {
        li {
            font-size: 120%;
            height: auto;
            list-style-type: none;
            margin-bottom: 5px;
            padding-left: 32px;
            padding-top: 0px;
            padding-bottom: 8px;
            background-position: bottom;

            a {
                color: #676767;
                font-size: 16px;
            }

        }

    }
}