@import url('./assets/style/app.scss');
.app{
  background: url('./assets/image/bg_main.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2000px;
}

.content{
  max-width: 1000px;
  margin: 0 auto;
}
/* common button */
.noticeBtn{
  display: flex;
  justify-content: end;
}
.noticeBtn button {
  background-color: purple;
  color: white;
  padding:10px 25px;
  border: none;
}
.noticeBtn button:hover {
  background-color: purple;
  color: white;
  padding:10px 25px;
  border: none;
}
/* Video gallery style */
.video-title{
  background-color: purple;
  padding:7px;
  font-size: 20px;
  color: white;
}